/* src/app/login/login.page.scss */

.login-content {
  --background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: #787878;
}

.logo-placeholder {
  height: 100px;
  margin-bottom: 20px;
  background-color: transparent;
}

.titulo {
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 0;
}

.subtitulo {
  font-size: 0.9rem;
  color: #e1b770;
  margin-bottom: 30px;
}

.input-field {
  margin-bottom: 15px;
}

.btn-login {
  --background: #e1b770;
  --color: white;
  margin-top: 10px;
}

.divider {
  height: 1px;
  background-color: #000;
  margin: 20px 0;
}

.btn-register {
  --background: #3b2b10;
  --color: white;
}
