<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Fotografias" [routerLink]="['/tabs/fotografias']">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Fotografias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Álbuns" [routerLink]="['/tabs/albuns']">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Álbuns</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Pesquisar" [routerLink]="['/tabs/pesquisar']">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Pesquisar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
