// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-bege: #e1b770;
	--ion-color-bege-rgb: 225,183,112;
	--ion-color-bege-contrast: #000000;
	--ion-color-bege-contrast-rgb: 0,0,0;
	--ion-color-bege-shade: #c6a163;
	--ion-color-bege-tint: #e4be7e;
}

.ion-color-bege {
	--ion-color-base: var(--ion-color-bege);
	--ion-color-base-rgb: var(--ion-color-bege-rgb);
	--ion-color-contrast: var(--ion-color-bege-contrast);
	--ion-color-contrast-rgb: var(--ion-color-bege-contrast-rgb);
	--ion-color-shade: var(--ion-color-bege-shade);
	--ion-color-tint: var(--ion-color-bege-tint);
}

:root {
	--ion-color-castanho: #3b2b10;
	--ion-color-castanho-rgb: 59,43,16;
	--ion-color-castanho-contrast: #ffffff;
	--ion-color-castanho-contrast-rgb: 255,255,255;
	--ion-color-castanho-shade: #34260e;
	--ion-color-castanho-tint: #4f4028;
}

.ion-color-castanho {
	--ion-color-base: var(--ion-color-castanho);
	--ion-color-base-rgb: var(--ion-color-castanho-rgb);
	--ion-color-contrast: var(--ion-color-castanho-contrast);
	--ion-color-contrast-rgb: var(--ion-color-castanho-contrast-rgb);
	--ion-color-shade: var(--ion-color-castanho-shade);
	--ion-color-tint: var(--ion-color-castanho-tint);
}