<ion-header>
  <ion-toolbar>
    <ion-title>Selecionar Fotos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmar()" [disabled]="selecionadas.size === 0">
        Confirmar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let f of fotos">
        <ion-card (click)="toggle(f.id)" [color]="selecionadas.has(f.id) ? 'primary' : 'light'">
          <img [src]="f.url" />
          <ion-checkbox
            slot="end"
            [checked]="selecionadas.has(f.id)"
            (click)="$event.stopPropagation()"
            (ionChange)="toggle(f.id)">
          </ion-checkbox>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
