<ion-content class="ion-padding">

  <h2 class="titulo">Crie a sua nova conta</h2>

  <ion-input
    placeholder="Nome próprio"
    [(ngModel)]="nome"
    type="text"
    fill="outline"
  ></ion-input>

  <ion-input
    placeholder="Apelido"
    [(ngModel)]="apelido"
    type="text"
    fill="outline"
  ></ion-input>

  <ion-input
    placeholder="Digite o seu e-mail"
    [(ngModel)]="email"
    type="email"
    fill="outline"
  ></ion-input>

  <ion-input
    placeholder="Digite a sua palavra-passe"
    [(ngModel)]="pass"
    type="password"
    fill="outline"
  ></ion-input>

  <ion-button expand="block" class="botao" (click)="registar()">
    Criar nova conta
  </ion-button>
</ion-content>
